body {
    margin:0;
    padding:0;
    height:100%;
	background-image: url("../assets/dbd-lobby-background.jpg");
}
button {
	width:100px;
	height:40px;
	padding: 10px;
}
table {
	width: 100%;
    margin: auto;
	border-collapse: collapse;
}
tr, td, th {
	text-align: left;
	padding: 8px;
	border: 1px solid grey;
    color: #63ccff;
    background-color: #1a1a1a;
    font-family: 'Roboto',sans-serif;
    font-size: medium;
    opacity: 0.9;
}
th {
    color: white;
}
p {
    color: lightgrey;
	display: inline;
    font-family: 'Roboto',sans-serif;
}
h1 {
    padding-top: 1.2%;
    padding-left: 1.4%;
    color: #f2f2f2;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
a {
    color: deepskyblue;
}
#body {
    width: 90%;
    padding: 5%;
    display: inline-block;
}
#header {
    position:absolute;
    width: 100%;
    top: 0;
    height: 8%;
    background: #414141;
}
#footer {
    padding-top: 0.5%;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height: 3%;   /* Height of the footer */
    background: #414141;
}
#clickMe {
    background-color: #f1d600;
    border: none;
    border-radius: 4px;
}
#clickText {
    font-size: x-large;
}
.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}